---
import "../styles/global.css";
---

<div class="bg-zinc-800 w-full h-20 flex items-center px-20 gap-5 text-zinc-100">
  <a href="/">main</a>
  <a href="/drawer">draw</a>
  <a href="/manager">tasks</a>
</div>
